<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=PostTitle%></title>
</head>
<body>
    <h1><%=PostTitle%></h1>
    <p><%=PostContent%></p>

</body>
</html>